@model List<EntityLayer.DTOs.StaffDTOs.GetStaffDto>
@{
    ViewData["Title"] = "Admin";
    bool isAdmin = ViewBag.IsAdmin != null && ViewBag.IsAdmin;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var userId = ViewBag.userId;
}

<h1 class="mb-4">Çalışan Listem</h1>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Staff ID</th>
                <th>İsim</th>
                <th>Soyisim</th>
                <th>Admin mi ?</th>
                <th>Seyahate Git</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <th scope="row">@Model[i].Id</th>
                        <td>@Model[i].Name</td>
                        <td>@Model[i].Surname</td>
                        <td>@(Model[i].IsAdmin ? "Admin" : "Çalışan")</td>
                        <td>
                            <a asp-controller="Travel" asp-action="Travels" asp-route-id="@Model[i].Id" class="btn btn-info btn-sm">
                                Seyahat Detayı
                            </a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5" class="text-center">No records found</td>
                </tr>
            }
        </tbody>
    </table>
</div>
