

<h1>Update Travel</h1>

@*@using EntityLayer.DTOs.TravelDTOs
@model UpdateTravelDto
@{
    ViewData["Title"] = "Update Travel";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var today = DateTime.Now.ToString("yyyy-MM-dd");
    bool isAdmin = ViewBag.isAdmin != null && (bool)ViewBag.isAdmin;
    var userId = ViewBag.userId != null ? (int)ViewBag.userId : 0;

}

<h1>Update Travel</h1>

@if (Model != null)
{
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form asp-controller="Travel" asp-action="UpdateTravel" method="post">
                    <table id="travelTable" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Field</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>TravelID</td>
                                <td>
                                       <input type="text" asp-for="TravelID" value="@Model.TravelID" class="form-control" readonly />

                                </td>
                            </tr>
                            <tr>
                                <td>City</td>
                                <td>
                                    @if (isAdmin && userId != Model.Id)
                                    {
                                        <input type="text" asp-for="City" value="@Model.City" class="form-control" readonly />
                                    }
                                    else
                                    {
                                        <input type="text" asp-for="City" value="@Model.City" class="form-control" required />
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>Start Date</td>
                                <td>
                                    @if (isAdmin && userId != Model.Id)
                                    {
                                        <input type="date" asp-for="StartDate" value="@Model.StartDate.ToString("yyyy-MM-dd")" class="form-control" readonly />
                                    }
                                    else
                                    {
                                        <input type="date" asp-for="StartDate" value="@Model.StartDate.ToString("yyyy-MM-dd")" class="form-control" required />
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>End Date</td>
                                <td>
                                    @if (isAdmin && userId != Model.Id)
                                    {
                                        <input type="date" asp-for="EndDate" value="@Model.EndDate.ToString("yyyy-MM-dd")" class="form-control" readonly />
                                    }
                                    else
                                    {
                                        <input type="date" asp-for="EndDate" value="@Model.EndDate.ToString("yyyy-MM-dd")" class="form-control" required />
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>Description</td>
                                <td>
                                    @if (isAdmin && userId != Model.Id)
                                    {
                                        <textarea asp-for="Description" class="form-control" readonly>@Model.Description</textarea>
                                    }
                                    else
                                    {
                                        <textarea asp-for="Description" class="form-control" required>@Model.Description</textarea>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>Stay</td>
                                <td>
                                    @if (isAdmin && userId != Model.Id)
                                    {
                                        <input type="text" asp-for="Stay" value="@Model.Stay" class="form-control" readonly />
                                    }
                                    else
                                    {
                                        <input type="text" asp-for="Stay" value="@Model.Stay" class="form-control" required />
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>Vehicle</td>
                                <td>
                                    @if (isAdmin && userId != Model.Id)
                                    {
                                        <input type="text" asp-for="Vehicle" value="@Model.Vehicle" class="form-control" readonly />
                                    }
                                    else
                                    {
                                        <input type="text" asp-for="Vehicle" value="@Model.Vehicle" class="form-control" required />
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>
                                    @if (isAdmin && userId != Model.Id)
                                    {
                                        <select style="padding: 0.375rem 0.75rem; border-radius: 0.25rem; border: 1px solid #ced4da; width: 400px;">
                                            <option value="1">Beklemede</option>
                                            <option value="2">Onaylandi</option>
                                            <option value="3">Reddedildi</option>
                                        </select>
                                    }
                                    else
                                    {
                                        <textarea asp-for="StatusID" class="form-control" readonly>@Model.StatusID</textarea>
                                    }
                                </td>
                            </tr>
                        </tbody>

                    </table>
                    <button type="submit" asp-action="UpdateTravel" asp-controller="Travel" asp-route-travelId="@Model.TravelID" class="btn btn-primary">Seyahati Güncelle</button>
                </form>
            </div>
        </div>
    </div>
}
else
{
    <p>No travel details found.</p>
}
*@